<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница сайта</title>
</head>
<body>
<h1>Страница для реализации тестового задания</h1>
  <div class="content-white">
   <p>Загрузка завершена. Нажмите кнопку старт для выборки организаций
       зарегистрированных занимающихся разработкой программного обеспечения,
       зарегистрированные в Хабаровске.
   </p>
  </div>
    <form action="/base" method="post">
       <input type="submit" name="action" value="start">
    </form>
</body>
</html>