<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная страница сайта</title>
</head>
<body>
<h1>Страница для реализации тестового задания</h1>
  <div class="content-white">
   <p>Перед вами учебный сайт выполнения тестового задания.
       Нажмите ниже кнопку download для начала загрузки архива (это может занять некоторое время).
       Как закончится загрузка нажмите кнопку старт.
   </p>
  </div>
    <form action="/" method="post">
       <input type="submit" name="action" value="download">
    </form>
</body>
</html>